[color]
	ui = true
	diff = always
	interactive = always
	branch = auto
	grep = always
	pager = true
	showbranch = true
	status = auto
[alias]
	lg = log
	lgp = log --graph -p
	st = status
	fe = fetch
	co = checkout
	com = "!git fetch && git checkout master && git reset --hard origin/master"
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	re = rebase
	br = branch
	rmbr = "branch --merged \\| grep -v \"\\*\" \\| xargs -n 1 git branch -d "
	delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	subupgrade = "!git submodule foreach git pull origin master"
	diffs = diff --staged
	diffc = diff --cached
	diffm = diff origin/master..HEAD
	ctags = !.git/hooks/ctags
	updatehooks = "!cp -fr ~/.git_template/hooks/* .git/hooks/"
	enablehooks = "!chmod u+x .git/hooks/*"
	disablehooks = "!chmod u-x .git/hooks/*"
	clearorig = "!find . -name '*orig' -exec rm  {} \\;"
[push]
	default = current
[user]
	email = contact@arkade.info
	name = aRkadeFR
	signingkey = 65B1B172
[merge]
	tool = vimdiff
[mergetool]
	prompt = false

[github]
	user = aRkadeFR
[init]
	templatedir = ~/.git_template
