[Unit]
Description=GnuPG private key (gpg + ssh) agent
IgnoreOnIsolate=true

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --daemon --keep-display --homedir /home/arkadefr/.gnupg --use-standard-socket
Restart=on-abort

[Install]
WantedBy=xdm.target
