set editing-mode vi
set completion-ignore-case on
set print-completions-horizontally on
set expand-tilde on
set keymap vi-command
"]": vi-yank-arg
set keymap vi-insert
"\C-l": clear-screen
"\C-w": backward-kill-word 
"\C-x\C-r": re-read-init-file
